header{
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  height: 69px;
  align-items: center;
  z-index: 1;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.head img{
  height: 50px;
  padding-left: 10px;
}
a{
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}
body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  margin-top: 0px;
}
nav{
 text-align: right;
 flex-grow: 1;
 padding-right: 10px;
}
nav span{
  display: inline-flex;
  padding: 20px 10px;
  text-decoration: underline;
}
.main{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;

}
.image{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  margin-top: auto;
  width: 1200px;
}
#mission{
  margin: auto;
  background-color: black;
  width: 100%;
}
h2, h4, h3{
  margin: auto;
  padding: 15px;
}
#month{
  width: 1000px;
}
.tea-text{
  margin-top: 60px;
}
.pictures{
  display: inline-flex;
}
.pictures img{
   height: 200px;
   width: 300px;
   padding: 10px;
}
#location{
padding-top: 70px;
}
.location-image{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}
.location-image h2{
  align-items: center;
}

.box{
height: 250px;
width: 300px;
background-color:  black;
margin: 20px;
opacity: 1;
}
#contact{
  height: 200px;
}
footer{
  text-align: left;
  padding-left: 20px;
}
